.Letter input{
    width: 50px;
    height: 67px;
    margin-right: 5px;
    border-radius: 10%;
    transition: background-color 0.15s 2s;
}

input:disabled{
    opacity: 1;
    color: white;
    text-align: center;
    font-size: 30px;
}

input:focus{
    outline: none;
}

.Letter input.green{
    background-color: var(--green);
}

.Letter input.yellow{
    background-color: var(--yellow);
}

.Letter input.grey{
    background-color: black;
}

.Letter input.black{
    background: var(--grey);
}
